body {
    margin: 0 auto;
    position: relative;
    background-image: url('./img/smartfon.png');
    background-repeat: no-repeat;
    background-size: 720px 350px;
    background-position-x: 50%;
    background-position-y: 130%;
}
a {
    text-decoration: none;
    margin: 0; padding: 0;
    outline-style: none;
    color: #000;
}
#reload {
    position: absolute;
    top: 78.5%;
    left: 40.5%;
    font-size: 21px;
    text-transform: uppercase;
    font-weight: 500;
    border-radius: 15px;
    padding: 10px;
    background-color: rgb(243, 191, 20);
    box-shadow: 1px 3px 3px #000;

    transition: 0.2s background-color ease-in;
}
#play {
    position: absolute;
    top: 40%;
    left: 44%;
    font-size: 21px;
    text-transform: uppercase;
    font-weight: 500;
    border-radius: 15px;
    padding: 10px;
    background-color: rgb(243, 191, 20);
    box-shadow: 3px 5px 10px #000;
    
    transition: 0.2s background-color ease-in;
}
#play:hover {
    background-color: rgb(50, 194, 6);
}
#reload:hover {
    background-color: rgb(50, 194, 6);
}
.none {
    display: none;
}
.game {
    margin: 0 auto;
    position: relative;
    padding-top: 30px;
    width: 600px;
    height: 350px;

    /* border-bottom: 3px solid #000; */
    /* background-color: #f8f8f8; */
    background-image: url('./img/bg.png'), url('./img/nebo1.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 49px;
}
p {
    text-align: center;
    margin-top: 10px;
}
#sunny {
    width: 85px;
    height: 70px;
    background-image: url('./img/sunny2.png');
    background-size: 85px 70px;
    position: relative;
    top: -70px;
    left: 40%;
}
#lune {
    width: 70px;
    height: 70px;
    background-image: url('./img/lune.png');
    background-size: 70px 70px;
    position: relative;
    top: -50px;
    left: 41%;
}
.sunnyMov {
    animation: sunnyMov 12s linear;
}
#dino {
    width: 80px;
    height: 80px;
    background-image: url('./img/dino_mult.png');
    background-size: 80px 80px;
    position: relative;
    top: 268px;
    left: 5px;

    /* animation: dinoMov 0.5s infinite linear; */
}
.cloud-wrapper {
    display: flex;
    column-gap: 50px;
}
#cactus {
    width: 50px;
    height: 50px;
    background-image: url('./img/cactus.png');
    background-size: 50px 50px;
    background-repeat: no-repeat;
    position: relative;
    top: 220px;
    left: 550px;
}
#cloud {
    width: 100px;
    height: 80px;
    background-image: url('./img/cloud1.png');
    background-size: 100px 80px;

    position: relative;
    top: -110px;
    left: 350px;

    animation: cloudMov 5s infinite linear;
}
.ptero {
    width: 80px;
    height: 60px;
    background-image: url('./img/ptero.png');
    background-size: 80px 60px;

    position: relative;
    top: -130px;
    left: 520px;

    animation: pteroMov 5s infinite linear;
}
.ptero1 {
    width: 80px;
    height: 60px;
    background-image: url('./img/ptero1.png');
    background-size: 80px 60px;

    position: relative;
    top: -130px;
    left: 520px;

    animation: pteroMov 5s infinite linear;
}
.cactusMov {
    animation: cactusMov 1.5s infinite linear;
}
.cactusEnd {
    animation: cactusEnd 1s;
}

@keyframes cactusMov {
    0% {
        left: 550px;
    }
    100% {
        left: 0px;
    }
}
.jump {
    animation: jump 0.5s linear;
}
@keyframes jump {
    0% {
        top: 270px;
    }
    30% {
        top: 180px;
    }
    50% {
        top: 100px;
    }
    80% {
        top: 180px;
    }
    100% {
        top: 270px;
    }
}

@keyframes cloudMov{
    0% {
        left: 350px;
    }
    100% {
        left: 0px;
    }
}
 
@keyframes pteroMov{
    0% {
        top: -170px;
        left: 520px;
    }
    25% {
        top: -100px;
        left: 420px;
    }
    50% {
        top: -130px;
        left: 320px;
    }
    70% {
        top: -80px;
        left: 220px;
    }
    100% {
        /* top: -10px;
        left: 10px; */
        top: -130px;
        left: 0px;
    }
}

@keyframes sunnyMov{
    0% {
        top: -70px;
        left: 40%;
    }
    100% {
        top: 50px;
        left: 40%;
    }
}

@keyframes dinoMov{
    0% {
        top: 280px;
    }
    50% {
        top: 270px;
    }
    100% {
        top: 280px;
    }
}
@keyframes cactusEnd {
    0% {
        left: 70px;
    }
    100% {
        left: 70px;
    }
}

@media (max-width: 2300px) {
    body {
        background-position-x: 51%;
    }
    #play {
        top: 60%;
        left: 46%;
    }
}
@media (max-width: 1700px) {
    body {
        background-position-x: 51.5%;
    }
    #play {
        top: 63%;
        left: 45%;
}
}
@media (max-width: 1400px) {
    body {
        background-position-x: 52%;
    }
    #play {
        top: 63%;
        left: 45%;
}
}
@media (max-width: 1200px) {
    body {
        background-position-x: 52.5%;
    }
    #play {
        top: 63%;
        left: 43%;
}
}
@media (max-width: 1150px) {
    body {
        background-position-x: 53.5%;
    }
    #play {
        top: 63%;
        left: 43%;
}
}
@media (max-width: 1015px) {
    body {
        background-position-x: 54%;
    }
    #play {
        top: 63%;
        left: 41%;
}
}
@media (max-width: 920px) {
    body {
        background-position-x: 55%;
    }
    #play {
        top: 63%;
        left: 41%;
}
}
@media (max-width: 770px) {
    body {
        background-position-x: 80%;
    }
    #play {
        top: 63%;
        left: 41%;
}
}
@media (max-width: 740px) {
    body {
        background-position-x: 120%;
    }
    #play {
        top: 63%;
        left: 41%;
}
}
